mixin brands(tag, header, button, icon)
    -
        const brands = [
            ['thomson', 'billboard', 'realclear', 'ozy', 'rollcall', 'euronews'], 
            ['realclearpolitics', 'ladbible', 'gearpatrol', 'cbs', 'afar', 'fatherly']
        ]
    .homepage--four-screen.brands(class=page?'brands--'+page:false)
        .wrapper
            #{tag}.title(class="bold")
                =header
            .brands-outer
                each brand_section in brands
                    .brands-section
                        each brand in brand_section
                            .brand-item
                                img(src=`assets/images/brands/${brand}.png` srcset=`assets/images/brands/${brand}@2x.png 2x, assets/images/brands/${brand}.png 1x` alt=brand[0].toUpperCase()+brand.substring(1))
            a.button.blue(href="#")
                =button
                i
                    +icon('arrow', [20, 14], '#fff')