// First screen =====================================================================
mixin first_adv(img, header, descr, button, color, mod)
    section.adv--first-screen.lp-first-screen(class=mod?`lp-first-screen--${mod}`:'')
        .wrapper
            .ill-section
                img(src=`assets/images/illustrations/${img}.svg`)
                    
            .titles-section
                .main-title
                    h1!= header
                .descr
                    p
                        !=descr
                .button-box
                    if mod === 'dash'
                        a.button(href='./register.html' class=color)
                            span= button
                            i
                                +icon('arrow', [20, 14], '#fff')
                    else
                        a.button.mobile-icon(href='./register.html' class=color)
                            span= button