-
    const persons = [
        {
            mod: 'green',
            photo: 'https://images.randomhouse.com/author/2031113',
            name: 'Amy',
            info: 'B10',
            article: {
                title: 'This bird’s drumming on his body lures the lady',
                descr: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...'
            }
        },
        {
            mod: 'orange',
            photo: 'https://www.femalefirst.co.uk/image-library/square/500/r/rami-malek-wi11.jpg',
            name: 'Raim',
            info: 'B10',
            article: {
                title: 'Top US envoy on North Korea: \'We are not going to invade North Korea\'',
                descr: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...'
            }
        },
        {
            mod: 'violet',
            photo: 'https://www.myinstants.com/media/instants_images/58402ada5d1146733928955486208_39c51c74d0f.jpg',
            name: 'Jeff',
            info: 'B10',
            article: {
                title: 'Chinese Probe Uncovers New Mystery on the Dark Side of the Moon',
                descr: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...'
            }
        }
    ]


section.suggestions
    .container
        h2.suggestions_header
            | TAILORED RECOMMENDATIONS
            br
            | FOR EACH READER SEGMENT
        .suggestions_infographics
            each person in persons
                .suggestions_person&attributes({'class': `suggestions_person--${person.mod}`})
                    .suggestions_person_top
                        .suggestions_person_photo
                            img(src=person.photo, alt=person.name)
                        p.suggestions_person_name
                            =person.name
                    .suggestions_person_bottom
                        =person.info

                .suggestions_line&attributes({'class': `suggestions_line--${person.mod}`})

                .suggestions_article&attributes({'class': `suggestions_article--${person.mod}`})
                    .suggestions_article_top
                        .suggestions_article_ref
                            =person.name
                            | 
                            | sees:
                        .suggestions_article_link
                            +icon('link', [16, 16], '#DEE2E6')
                    .suggestions_article_img
                        img(src=`https://placeimg.com/360/208/tech?${Math.random()}`, alt=person.article.title)
                    p.suggestions_article_title
                        =person.article.title
                    i.suggestions_article_descr
                        =person.article.descr
                    

            .suggestions_window
                img(srcset=`./assets/images/web_window.jpg 1x, ./assets/images/web_window@2x.jpg 2x` src=`./assets/images/web_window.jpg`, alt=article)